nav{
    background-color: rgb(238, 237, 237);
    
}
.nav >a{
    color: gray;
}
table{
    border: 2px solid #000000;
}
table th, table td{
    border: 2px solid #000000;
}
button{
    width: 26px auto;
    height: 26px auto;
    margin: 4px;
}
.total{
    text-align: end !important;
}