<div class="container mt-3">
    <div class="card">
        <h5 class="card-header">
            <i class="fa fa-list-alt" style="font-size:28px"></i>
            Danh sách sinh viên</h5>
        <div class="container mt-3">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search for..." aria-label="Search"
                    [(ngModel)]="temp" name="filter">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="table-responsive">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th scope="col">LastName</th>
                            <th scope="col">FirstName</th>
                            <th scope="col">EnrollDate</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of students | filter: temp | paginate:config">
                            <th scope="row">{{student.LastName}}</th>
                            <td>{{student.FirstMidName}}</td>
                            <td>{{student.EnrollmentDate | date:"dd/MM/yyyy"}}</td>
                            <td class="ml-auto">
                                <i class="fa fa-exclamation-circle ml-2" [routerLink]="['/course',student.ID]"
                                    style="font-size:24px;color: rgb(67, 188, 236)"></i>
                                <i class="fa fa-trash-o ml-2" (click)="delete(student.ID)" style="font-size:24px"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            Showing {{config.currentPage}} of {{students.length/config.itemsPerPage | number:"1.0-0" }}
        </div>
        <div class="col-md-8">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
</div>