<div class="navbar2">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="background-color: white"></span>
            </button>
            <a class="navbar-brand" routerLink="/lap02">TungITC</a>
            <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-3">
                    <li class="nav-item active">
                        <a class="nav-link t" routerLink="/lap03">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/products">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/course" tabindex="-1" aria-disabled="true">Course</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</div>

<!-- <div class="container  ">
    <nav class="bg row">
        <div class="nav nav-tabs" role="tablist">
            <a class="nav-item nav-link active " data-toggle="tab" routerLink="/lap02" role="tab"
                aria-controls="nav-home" aria-selected="true">Muatc</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" routerLink="/lap03" role="tab"
                aria-controls="nav-profile" aria-selected="false">Home</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" routerLink="/products" role="tab"
                aria-controls="nav-contact" aria-selected="false">Cart</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" routerLink="/course" role="tab"
                aria-controls="nav-contact" aria-selected="false">Course</a>
        </div>
    </nav>
</div> -->

<router-outlet></router-outlet>