
.ft{
    border: 1px solid #dee2e6;
    height: 63px;
    padding: 1rem 1rem;
}
.text-body{
    line-height: 1em;
    height: 250px;
}
.img > img{
    width: 300px;
    height: 200px;
}
.modalname{
    display: -webkit-box;
}