<div class="container">
    <h2 class="text-center">Product List View</h2>
    <div class="card rounded">
        <div class="card-header bg-info" style="color: white;font-size: 20px">Product List</div>
        <div class="card-body">
            <form>
                <label for="exampleFormControlInput1">Filter:</label>
                <input class="ml-5" type="text" id="exampleFormControlInput1" [(ngModel)]="temp" name="filter">
            </form>
            <table class="table" id="SearchTextResult">
                <thead>
                    <tr class="table-boderless">
                        <th scope="col">
                            <button class="btn btn-primary" (click)="toggleEdit()">
                                {{isEdit ? 'Hide Image' : 'Show Image'}}</button>
                        </th>
                        <th scope="col" style="color: #0087ff">Product</th>
                        <th scope="col" style="color: #0087ff">Code</th>
                        <th scope="col" style="color: #0087ff">Available</th>
                        <th scope="col" style="color: #0087ff">Price</th>
                        <th scope="col" style="color: #0087ff">5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let products of listproducts | filter:temp'>
                        <td>
                            <!-- <img *ngIf="isEdit" [src]="products.urlImage" alt="" width="40px" height="40px"> -->
                            <img src="assets/images/{{products.imageUrl}}" width="100px">
                        </td>
                        <td>{{products.productName}}</td>
                        <td>{{products.productCode}}</td>
                        <td>{{products.releaseDate}}</td>
                        <td>{{products.price}}</td>
                        <!-- <td>{{products.starRating}} -->
                        <td>
                            <div class="justify-center">
                                <star-rating [value]="products.starRating" checkedcolor="black" uncheckedcolor="white"
                                    size="30px"></star-rating>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>