<div class="container  ">
    <nav class="bg row">
        <div class="nav nav-tabs" role="tablist">
            <a class="nav-item nav-link active " data-toggle="tab" routerLink="/lap02" role="tab"
                aria-controls="nav-home" aria-selected="true">Muatc</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" routerLink="/lap03" role="tab"
                aria-controls="nav-profile" aria-selected="false">Home</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" routerLink="/products" role="tab"
                aria-controls="nav-contact" aria-selected="false">Cart</a>
        </div>
    </nav>
    <div class="table-responsive">
        <table>
            <thead>
                <th>Hình</th>
                <th>Họ và Tên</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Điểm</th>
            </thead>
            <tbody>
                <tr *ngFor="let student of student">
                    <td> <img src="{{student.photo}}" style="width:100px;height: 100px;"> </td>
                    <td>{{student.fullName}}</td>
                    <td>{{student.birthday}}</td>
                    <td>{{student.gender}}</td>
                    <td>{{student.mark}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>