table{
    border: 2px solid #000000 !important;
    margin: 2rem auto;
}
table th, table td{
    border: 2px solid #000000;
    padding: 2rem
}
.nav >a{
    color: gray;
}
nav{
    background-color: rgb(238, 237, 237);
    
}